#titulo {   /* A los id se los referencia con # */
    color: tomato;
}

p.texto {   /* A las clases se las referencia con . (elemento.nombredelaclase)*/
    color: slateblue;
}

p.especial {
    color: mediumseagreen;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

/* * es selector universal */
* {
    font-size: 24px;
    /* color: black; */
}

/* esto es un comentario */

/*
.color {
    color: #ff0000;
}
*/

/*
.color {
    color: rgb(130, 23, 55);
}
*/

.color {
    /*border: 5px black dotted;*/
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2em; /* la unidad de medida em es relativa al tamaño de la fuente del elemento */
    border-width: 2rem; /* la unidad de medida rem es relativa al tamaño de la fuente del elemento raíz (<html/>) */
}

#fondo {
    color:rgb(253, 63, 136);
    background-color: rgba(65, 187, 235, 0.527); /* rgba (rgb con opacidad) */
    background-image: url('Viserion.jpg');
    height: 200px;
    background-size: 400px 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

.margen {
    background-color: rgb(51, 255, 0);
    margin: 15px; /*margin genera margenes fuera del elemento*/
    padding: 30px 15px; /*padding genera margenes dentro del elemento*/
    border: solid 10px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 5px solid red;
}

.text {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-decoration: underline;
    text-shadow: 3px 5px 5px blue;
}

/*Respetar el orden de los estados*/
a:link {
   color: blueviolet; 
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

ul {
    background-color: cyan;
    list-style-type: upper-roman;
    /* padding-left: 0; */
    /* list-style-position: inside; */

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #eee;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;
}

span {
    display: block;
    /* display: none; */
    /* visibility: hidden; */
    max-width: 300px;
    background-color: red;
}

.inline {
    display: inline;
}

#position {
    position: sticky;
    left: 20px;
    top: 25px;
}

.left{
    float: left;
    width: 200px;
    height: 200px;
}

.right{
    float: right;
}

.container{
    height: 200px;
}

.column{
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block{
    display: inline-block;
    height: 55px;
    background-color: red;
}

.center{
    padding: 50px 0;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}